@import "bourbon";
@import "base/base";
@import "scaffolds";

body {
  margin: 0 2em;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

.main-nav {
  li {
    display: inline;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  overflow: hidden;
}

select {
  width: auto;
}

textarea {
  min-height: 10rem;
}

th.number,
td.number {
  text-align: center;
}

.ticket-filters {
  select {
    display: inline;
  }
  button {
    padding: .4em .7em;
    font-size: 12px;
  }
}
